$color-primary: #0070f3;	


.featured__h3 {
    background: linear-gradient(180deg, #00A4FF 0%, #76BE8F 100%);
    border-radius: 30px;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    width: 70%;
}
